/*fonts*/
@font-face {font-family: 'timetable';src:  url('fonts/timetable.eot?tyu4x0');src:  url('fonts/timetable.eot?tyu4x0#iefix') format('embedded-opentype'),url('fonts/timetable.ttf?tyu4x0') format('truetype'),url('fonts/timetable.woff?tyu4x0') format('woff'),url('fonts/timetable.svg?tyu4x0#timetable') format('svg');font-weight: normal;font-style: normal;}
[class^="ic-m-t-"], [class*=" ic-m-t-"] {font-family: 'timetable' !important;speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.ic-m-t-check:before {content: "\e900";}
.ic-m-t-close:before {content: "\e901";}
.ic-m-t-top:before {content: "\e902";}
.ic-m-t-bottom:before {content: "\e903";}
.ic-m-t-right:before {content: "\e904";}
.ic-m-t-left:before {content: "\e905";}
.ic-m-t-clock:before {content: "\e906";}

/*checkbox, radio*/
.mibok-wrapper input[type=checkbox] + label,.mibok-wrapper  input[type=radio] + label {display: inline-block;cursor: pointer;position: relative;padding-left: 35px;font-size: 14px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden; margin-bottom: 0;padding: 10px 15px 10px 30px;width: calc(100% - 30px);margin-left: 20px;}
.mibok-wrapper input[type=checkbox],.mibok-wrapper  input[type=radio] {display: none;}
.mibok-wrapper input[type=checkbox] + label:before,.mibok-wrapper  input[type=radio] + label:before  {content: "";display: inline-block;width: 20px;height: 20px;margin-right: 10px;position: absolute;left: 0;bottom: 0px; border-radius: 2px;top: 28%;}
/*input[type=radio]:checked + label:before {font-size: 12px;text-align: center;line-height: 18px; box-shadow: none;}*/
.mibok-wrapper input[type=checkbox]:checked + label:before,  .mibok-slide-filter input[type=radio]:checked + label:before, .mibok-slide-filter input[type=checkbox]:checked + label:before {font-family: 'timetable';content: "\e900";font-size: 10px;text-align: center;line-height: 15px;box-shadow: none;padding-top: 4px;}


/*filter*/
.mibok-word-all{display: none;}
.mibok-wrapper-timetable{width:100%; min-height:100px;}
.mibok-wrapper-timetable h2{font-size: 24px; margin-top:0px;display: inline-block;margin-right: 10px;}
.mibok-filter-list-head{font-size: 24px; font-weight: bold; text-transform: uppercase; text-decoration: none;}
.mibok-filter-list-head:hover{text-decoration: none;}
.mibok-filter-list-head:focus{text-decoration: none;outline: none;}
.mibok-filter-left{width: 70%;}
.mibok-filter-list-head .ic-m-t-bottom{font-size: 12px;font-weight: bold;}
.mibok-filter-right{width: 29%; font-size: 14px;font-weight: 600;font-style: normal;text-align: right;}
.mibok-filter-right span {font-size: 16px;padding-left: 10px;}
.mibok-wrapper-filter{margin: 45px 0 27px;}
.mibok-filter-left .mibok-dropdown{display: inline;position: relative}
.mibok-dropdown.open .ic-m-t-bottom:before{content: "\e902";}
.mibok-dropdown .dropdown-menu ul{margin: 0px;padding-top: 0;width: 100%;border: none;list-style: none; max-height: 135px;height:auto; position: relative;}
.mibok-dropdown .dropdown-menu ul li div{/*padding: 10px 15px;*/}
.btn-mibok{width: calc(100% - 20px); border-radius: 5px;}
.mibok-dropdown  .btn-mibok{margin: 10px;}
.mibok-dropdown .dropdown-menu ul li:first-child div{/*padding-top: 10px;*/}
.mibok-dropdown .dropdown-menu ul li:first-child{border-radius: 7px 7px 0px 0px;;}
div.dropdown-menu{padding: 0;border-radius: 7px;border: none; width: 100%;}
.mibok-dropdown .ps-container.ps-active-y > .ps-scrollbar-y-rail{border:none; background: none;}
.mibok-dropdown .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y, .mibok-dropdown .ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y, .mibok-dropdown .ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y{width: 6px;}
.mibok-item-filter {border-radius: 7px;padding: 13px 20px;position: relative;margin-bottom: 15px;}
.mibok-item-filter:hover{cursor: pointer;}
.mibok-filter-name{font-size: 14px;}
.mibok-filter-value{font-size: 14px;font-weight: 600;font-style: normal;}
.mibok-add-filter{margin-top: 10px;}
.mibok-caret{position: absolute;right: 13px;top: 38%;}
.mibok-item-filter .dropdown-menu{margin-left: 0;}
.mibok-dropdown {position: relative;}
.mibok-filter-name, .mibok-filter-value{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;width: calc(100% - 20px);}
.btn-mibok.active.focus, .btn-mibok.active:focus, .btn-mibok.focus, .btn-mibok:active.focus, .btn-mibok:active:focus, .btn-mibok:focus{outline: none;}

@media(max-width:991px)
{
    .mibok-filter-left, .mibok-filter-right{width: 100%; float: none !important; text-align: left;}
    .mibok-wrapper-timetable h2{margin-bottom: 10px;}
    .mibok-filter-right{margin-bottom: 15px;}
}
@media(max-width:479px)
{
    .mibok-add-filter  .col-xs-6{width: 100% !important;}
}
@media(max-width:767px)
{
    .mibok-wrapper-timetable h2{font-size: 18px;}
    .mibok-filter-list-head{font-size: 18px;}
    .mibok-filter-left{margin-bottom: 10px;}
    .mibok-filter-right, .mibok-filter-right span{font-size: 12px;}
    .mibok-add-filter{display: none;}
    .mibok-add-filter.visible{display: block;}
}
@media(min-width:768px)
{
    .mibok-slide-filter{display: none;}
    .mibok-add-filter{display: block !important;}
}

/*-------------------------------------------------------------------------------------------------------*/
.btn-mibok{background: #47abd3; color:#fff;}
.mibok-wrapper-timetable{background: #f0f3f8;}
.mibok-filter-list-head, .mibok-filter-list-head:hover, .mibok-filter-list-head:focus{color:#47abd3;}
.mibok-wrapper-timetable h2{color:#474b54;}
.mibok-filter-right{color: #a1a4ab;}
.mibok-filter-right span {color: #484c55;}
.mibok-wrapper input[type=radio]:checked + label:before,.mibok-wrapper  input[type=checkbox]:checked + label:before, .mibok-slide-filter input[type=radio]:checked + label:before, .mibok-slide-filter input[type=checkbox]:checked + label:before{color:#fff;background-color: #47abd3;}
.mibok-wrapper input[type=checkbox] + label,.mibok-wrapper  input[type=radio] + label{color:#484c55;}
.mibok-dropdown .dropdown-menu ul li:hover{background: rgba(71, 171, 211, 0.3);}
.mibok-dropdown .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y, .mibok-dropdown .ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y, .mibok-dropdown .ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y{background: #a8aaaf;}
.mibok-item-filter {background: #fff;box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);}
.mibok-filter-name{color: #a1a4ab;}
.mibok-filter-value{color: #484c55;}
.mibok-caret span{color: #484c55;}
.mibok-wrapper input[type=checkbox] + label:before,.mibok-wrapper input[type=radio] + label:before  {background-color: #f0f3f8;box-shadow: inset 2px 2px 4px #e7eaf1;}
.mibok-slide-filter input[type=checkbox] + label:before, .mibok-slide-filter input[type=radio] + label:before {background-color: #cfd6e2;box-shadow: inset 2px 2px 4px #b4b8c3;}


@media(min-width:992px) and (max-width:1059px)
{
    .mibok-wrapper-grid .owl-nav div{background: #484c55;}
}
@media(max-width:803px)
{
    .mibok-wrapper-grid .owl-nav div{background: #484c55;}
}