[class^="svg-"] {width: 130px; height: 130px;display: inline-block;background-repeat: none;}

.svg-abpm {background-image: url('svg/abpm.png');}
.svg-call_doctor_home {background-image: url('svg/call_doctor_home.png');}
.svg-cardiology {background-image: url('svg/cardiology.png');}
.svg-corporate_services {background-image: url('svg/corporate_services.png');}
.svg-cosmetology_therapeutic {background-image: url('svg/cosmetology_therapeutic.png');}
.svg-day_hospital {background-image: url('svg/day_hospital.png');}
.svg-dentist {background-image: url('svg/dentist.png');}
.svg-dermatology {background-image: url('svg/dermatology.png');}
.svg-ecg {background-image: url('svg/ecg.png');}
.svg-electroencephalogram {background-image: url('svg/electroencephalogram.png');}
.svg-endocrinology {background-image: url('svg/endocrinology.png');}
.svg-family_doctor {background-image: url('svg/family_doctor.png');}
.svg-function_external_respiration {background-image: url('svg/function_external_respiration.png');}
.svg-gastroenterology {background-image: url('svg/gastroenterology.png');}
.svg-holter {background-image: url('svg/holter.png');}
.svg-homeopathy {background-image: url('svg/homeopathy.png');}
.svg-immunology {background-image: url('svg/immunology.png');}
.svg-immunology_allergology {background-image: url('svg/immunology_allergology.png');}
.svg-massage {background-image: url('svg/massage.png');}
.svg-massage_babies {background-image: url('svg/massage_babies.png');}
.svg-medical_abortion {background-image: url('svg/medical_abortion.png');}
.svg-medical_report {background-image: url('svg/medical_report.png');}
.svg-medicalsocial_examination {background-image: url('svg/medicalsocial_examination.png');}
.svg-narcology {background-image: url('svg/narcology.png');}
.svg-neuroscience {background-image: url('svg/neuroscience.png');}
.svg-obstetrics_gynecology {background-image: url('svg/obstetrics_gynecology.png');}
.svg-oncology {background-image: url('svg/oncology.png');}
.svg-ophthalmology {background-image: url('svg/ophthalmology.png');}
.svg-ophthalmology_children {background-image: url('svg/ophthalmology_children.png');}
.svg-otorhinolaryngology {background-image: url('svg/otorhinolaryngology.png');}
.svg-otorhinolaryngology_adult {background-image: url('svg/otorhinolaryngology_adult.png');}
.svg-pediatric_endocrinology {background-image: url('svg/pediatric_endocrinology.png');}
.svg-pediatric_orthopedist {background-image: url('svg/pediatric_orthopedist.png');}
.svg-pediatrics {background-image: url('svg/pediatrics.png');}
.svg-pediatrics_2 {background-image: url('svg/pediatrics_2.png');}
.svg-personal_medical_book {background-image: url('svg/personal_medical_book.png');}
.svg-physical_therapy {background-image: url('svg/physical_therapy.png');}
.svg-plastic_surgeon {background-image: url('svg/plastic_surgeon.png');}
.svg-podiatrist {background-image: url('svg/podiatrist.png');}
.svg-pretrip_medical_examinations {background-image: url('svg/pretrip_medical_examinations.png');}
.svg-preventive_medicine {background-image: url('svg/preventive_medicine.png');}
.svg-proctology {background-image: url('svg/proctology.png');}
.svg-psychology {background-image: url('svg/psychology.png');}
.svg-rheoencephalogram {background-image: url('svg/rheoencephalogram.png');}
.svg-rheoencephalogram_2 {background-image: url('svg/rheoencephalogram_2.png');}
.svg-sight_test {background-image: url('svg/sight_test.png');}
.svg-slimming {background-image: url('svg/slimming.png');}
.svg-speech_therapy {background-image: url('svg/speech_therapy.png');}
.svg-surgery {background-image: url('svg/surgery.png');}
.svg-therapy {background-image: url('svg/therapy.png');}
.svg-traumatology {background-image: url('svg/traumatology.png');}
.svg-tuberculos {background-image: url('svg/tuberculos.png');}
.svg-ultrasound {background-image: url('svg/ultrasound.png');}
.svg-ultrasound_diagnostics {background-image: url('svg/ultrasound_diagnostics.png');}
.svg-urology {background-image: url('svg/urology.png');}
.svg-vaccination {background-image: url('svg/vaccination.png');}
.svg-vaccinations_children {background-image: url('svg/vaccinations_children.png');}

